## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

In [2]:
import numpy as np
import pandas as pd

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

In [3]:
hr = pd.read_csv("HR-1.txt",sep = '\t')
hr.head()

,Individual,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,Ind1,Yes,41,1,1102,1,1,2,1,1,...,1,80,0,8,0,1,6,4,0,5
1,Ind2,No,49,2,279,2,8,1,1,1,...,4,80,1,10,3,3,10,7,1,7
2,Ind3,Yes,37,1,1373,2,2,2,6,1,...,2,80,0,7,3,3,0,0,0,0
3,Ind4,No,33,2,1392,2,3,4,1,1,...,3,80,0,8,3,3,8,7,3,0
4,Ind5,No,27,1,591,2,2,1,2,1,...,4,80,1,6,3,3,2,2,2,2

### Print the no of rows and columns in the dataset

In [4]:
hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
Individual                  1470 non-null object
Attrition                   1470 non-null object
Age                         1470 non-null int64
BusinessTravel              1470 non-null int64
DailyRate                   1470 non-null int64
Department                  1470 non-null int64
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null int64
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null int64
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null int64
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null int64
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
OverTime                    1470 non-null int64
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(33), object(2)
memory usage: 402.0+ KB

In [8]:
hr.shape

(1470, 35)

### Find out the type of each and every column in the dataset

In [9]:
hr.dtypes

Individual                  object
Attrition                   object
Age                          int64
BusinessTravel               int64
DailyRate                    int64
Department                   int64
DistanceFromHome             int64
Education                    int64
EducationField               int64
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                       int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                      int64
JobSatisfaction              int64
MaritalStatus                int64
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                     int64
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Print out all the rows from 3rd column to 10th columns

In [12]:
hr.iloc[:,2:9]

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField
0,41,1,1102,1,1,2,1
1,49,2,279,2,8,1,1
2,37,1,1373,2,2,2,6
3,33,2,1392,2,3,4,1
4,27,1,591,2,2,1,2
5,32,2,1005,2,2,2,1
6,59,1,1324,2,3,3,2
7,30,1,1358,2,24,1,1
8,38,2,216,2,23,3,1
9,36,1,1299,2,27,3,2
10,35,1,809,2,16,3,2
11,29,1,153,2,15,2,1
12,31,1,670,2,26,1,1
13,34,1,1346,2,19,2,2
14,28,1,103,2,24,3,1
15,29,1,1389,2,21,4,1
16,32,1,334,2,5,2,1
17,22,3,1123,2,16,2,2
18,53,1,1219,1,2,4,1
19,38,1,371,2,2,3,1
20,24,3,673,2,11,2,6
21,36,1,1218,1,9,4,1
22,34,1,419,2,7,4,1
23,21,1,391,2,15,2,1
24,34,1,699,2,6,1,2
25,53,1,1282,2,5,3,6
26,32,2,1125,2,16,1,1
27,42,1,691,1,8,4,3
28,44,1,477,2,7,4,2
29,46,1,705,1,2,4,3
...,...,...,...,...,...,...,...
1440,36,2,688,2,4,2,1
1441,56,3,667,2,1,4,1
1442,29,1,1092,2,1,4,2
1443,42,1,300,2,2,3,1
1444,56,1,310,2,7,2,4
1445,41,1,582,2,28,4,1
1446,34,1,704,1,28,3,3
1447,36,3,301,1,15,4,3
1448,41,1,930,1,3,3,1
1449,32,1,529,2,2,3,4
1450,35,1,1146,3,26,4,1
1451,38,1,345,1,10,2,1
1452,50,2,878,1,1,4,1
1453,36,1,1120,1,11,4,3
1454,45,1,374,1,20,3,1
1455,40,1,1322,2,2,4,1
1456,35,2,1199,2,18,4,1
1457,40,1,1194,2,2,4,2
1458,35,1,287,2,1,4,1
1459,29,1,1378,2,13,2,6
1460,29,1,468,2,28,4,2
1461,50,1,410,1,28,3,3
1462,39,1,722,1,24,1,3
1463,31,3,325,2,5,3,2
1464,26,1,1167,1,5,3,6
1465,36,2,884,2,23,2,2
1466,39,1,613,2,6,1,2
1467,27,1,155,2,4,3,1
1468,49,2,1023,1,2,3,2
1469,34,1,628,2,8,3,2

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

In [36]:
hr1=hr.groupby(['Gender']).sum()
print ("Male Employees (assuming Gender=1) --> ", hr1.iloc[0,7])
print ("Female Employees (assuming Gender=2) --> ", hr1.iloc[1,7])

Male Employees (assuming Gender=1) -->  882
Female Employees (assuming Gender=2) -->  588

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

### Find out the mean, median and variance for the column - DailyRate

In [37]:
hr['DailyRate'].mean()

802.4857142857143

In [38]:
hr['DailyRate'].median()

802.0

In [39]:
hr['DailyRate'].var()

162819.59373723628

### Plot the attrition column (Since it is a categorical variable, use histogram to plot the data)

### Plot Total working years using matplotlib plot function

### Create 500 random samples from normal distribution with mean 1 and  standard deviation 0.5

###  Plot the histogram of the above normal distribution