In [2]:
import pandas as pd
import numpy as np

# 1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data

In [54]:
#Read the data set
data = pd.read_csv("Laliga.csv",skiprows=1)
data.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1

In [55]:
#replace dashes with 0 to make sure you can perform arithmetic operations on the data.
data=data.replace('-',0)
data

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

# 2. Print all the teams which have started playing between 1930-1980

In [56]:
data.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [57]:
data["PlayedYear"]=data['Since/LastApp'].str.split('-').str[0]

In [58]:
data.PlayedYear=data.PlayedYear.astype('int')
data.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
PlayedYear        int32
dtype: object

In [59]:
data[(data.PlayedYear >=1930) & (data.PlayedYear <=1980)]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,PlayedYear
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971-72,1979-80,12,1979
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963-64,1969-70,7,1969
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1929,1934-35,3,1934
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945-46,1950-51,10,1950
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953-54,1957-58,14,1957
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1929,1931-32,6,1931
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979-80,1980-81,10,1980
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1929,1930-31,8,1930
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956-57,1956-57,16,1956
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951-52,1951-52,16,1951
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955-56,1955-56,15,1955

# 3. Print the list of teams which came Top 5 in terms of points

In [60]:
data.Points=data.Points.astype('int')
data.dtypes

Pos               int64
Team             object
Seasons           int64
Points            int32
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
PlayedYear        int32
dtype: object

In [62]:
data.sort_values('Points',ascending=False)
data.head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,PlayedYear
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,1929
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,1929
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,2002
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,1987
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,1929

# 4. Write a function with name Goal_diff_count which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference

Goal_diff_count = GoalsFor - GoalsAgainst

In [63]:
data.GoalsFor=data.GoalsFor.astype('int')
data.GoalsAgainst=data.GoalsAgainst.astype('int')
data.dtypes

Pos               int64
Team             object
Seasons           int64
Points            int32
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor          int32
GoalsAgainst      int32
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
PlayedYear        int32
dtype: object

In [90]:
def Goal_diff_count():
    data['Goal difference'] = data['GoalsFor']-data['GoalsAgainst']
    return data

Goal_diff_count()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,PlayedYear,Goal difference
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,1929,2807
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,1929,2786
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,2002,1225
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,1987,929
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,1929,931
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934-35,2001-02,1,2001,307
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1929,1994-95,3,1994,-280
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,1929,2010-11,1,2010,-2
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939-40,2012-13,2,2012,-164
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932-33,2015-16,1,2015,-333
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941-42,2014-15,1,2014,-136
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939-40,2012-13,4,2012,-346
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948-49,2013-14,4,2013,-413
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,2,0,1,5,1929,2011-12,2,2011,-525
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944-45,2015-16,2,2015,-399
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935-36,2016-17,4,2016,-334
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949-50,2008-09,4,2008,-342
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933-34,2000-01,3,2000,-309
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960-61,2012-13,3,2012,-189
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951-52,2015-16,2,2015,-399
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,2,3,2,9,1998-99,2013-14,2,2013,103
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941-42,2016-17,6,2016,-338
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977-78,2015-16,8,2015,-328
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959-60,2014-15,5,2014,-272
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,1,1,2004-05,2015-16,6,2015,-113
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935-36,2010-11,5,2010,-334
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961-62,2009-10,5,2009,-125
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940-41,2007-08,11,2007,-385
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,1930-31,2016-17,6,2016,-165
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963-64,2015-16,6,2015,-202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1943-44,1987-88,4,1987,-228
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977-78,2005-06,12,2005,-269
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,1987-88,1996-97,7,1996,-198
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941-42,1990-91,4,1990,-169
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,1991-92,2004-05,7,2004,-90
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,2007-08,2014-15,8,2014,-122
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962-63,2014-15,5,2014,-145
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,1994-95,1997-98,10,1997,-42
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978-79,2008-09,8,2008,-94
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971-72,1979-80,12,1979,-94
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963-64,1969-70,7,1969,-56
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,1999-00,2008-09,17,2008,-98
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,2014-15,2014-15,10,2014,-28
44,45,Arenas,7,107,130,43,21,66,227,308,...,1,0,3,0,4,1929,1934-35,3,1934,-81
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,1990-91,1992-93,9,1992,-38
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947-48,2006-07,7,2006,-114
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,1996-97,1998-99,17,1998,-55
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,1995-96,1997-98,19,1997,-45
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945-46,1950-51,10,1950,-107
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953-54,1957-58,14,1957,-62
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,1,1,1929,1931-32,6,1931,-31
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979-80,1980-81,10,1980,-45
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,1929,1930-31,8,1930,-34
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950-51,1993-94,16,1993,-112
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,2016-17,2016-17,17,2016,-19
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009-10,2009-10,20,2009,-28
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956-57,1956-57,16,1956,-20
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951-52,1951-52,16,1951,-34
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955-56,1955-56,15,1955,-31
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,2017,0

In [82]:
data.tail(1)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,PlayedYear,Goal difference
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,2017,0

In [106]:
data.sort_values('Goal difference',ascending=False)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,PlayedYear,Goal difference
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,1929,2807
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,1929,2786
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,2002,1225
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,1929,931
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,1987,929
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934-35,2001-02,1,2001,307
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,2,3,2,9,1998-99,2013-14,2,2013,103
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,2017,0
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,1929,2010-11,1,2010,-2
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,2016-17,2016-17,17,2016,-19
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956-57,1956-57,16,1956,-20
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,2014-15,2014-15,10,2014,-28
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009-10,2009-10,20,2009,-28
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955-56,1955-56,15,1955,-31
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,1,1,1929,1931-32,6,1931,-31
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,1929,1930-31,8,1930,-34
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951-52,1951-52,16,1951,-34
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,1990-91,1992-93,9,1992,-38
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,1994-95,1997-98,10,1997,-42
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979-80,1980-81,10,1980,-45
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,1995-96,1997-98,19,1997,-45
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,1996-97,1998-99,17,1998,-55
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963-64,1969-70,7,1969,-56
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953-54,1957-58,14,1957,-62
44,45,Arenas,7,107,130,43,21,66,227,308,...,1,0,3,0,4,1929,1934-35,3,1934,-81
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,1991-92,2004-05,7,2004,-90
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971-72,1979-80,12,1979,-94
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978-79,2008-09,8,2008,-94
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,1999-00,2008-09,17,2008,-98
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945-46,1950-51,10,1950,-107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,1,1,2004-05,2015-16,6,2015,-113
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947-48,2006-07,7,2006,-114
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,2007-08,2014-15,8,2014,-122
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961-62,2009-10,5,2009,-125
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941-42,2014-15,1,2014,-136
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962-63,2014-15,5,2014,-145
30,31,Salamanca,12,375,423,123,102,198,422,581,...,0,0,0,0,0,1974-75,1998-99,7,1998,-159
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939-40,2012-13,2,2012,-164
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,1930-31,2016-17,6,2016,-165
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941-42,1990-91,4,1990,-169
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960-61,2012-13,3,2012,-189
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,1987-88,1996-97,7,1996,-198
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963-64,2015-16,6,2015,-202
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1943-44,1987-88,4,1987,-228
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977-78,2005-06,12,2005,-269
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959-60,2014-15,5,2014,-272
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1929,1994-95,3,1994,-280
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933-34,2000-01,3,2000,-309
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977-78,2015-16,8,2015,-328
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932-33,2015-16,1,2015,-333
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935-36,2010-11,5,2010,-334
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935-36,2016-17,4,2016,-334
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941-42,2016-17,6,2016,-338
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949-50,2008-09,4,2008,-342
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939-40,2012-13,4,2012,-346
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940-41,2007-08,11,2007,-385
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951-52,2015-16,2,2015,-399
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944-45,2015-16,2,2015,-399
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948-49,2013-14,4,2013,-413
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,2,0,1,5,1929,2011-12,2,2011,-525

In [102]:
data.tail(1)
data.head(1)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,PlayedYear,Goal difference
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,1929,2807

# 5. Create a new column with name Winning Percent and append it to the data set
   Percentage of Winning = (GamesWon / GamesPlayed)*100
   If there are any numerical error, replace it with 0%
   Print the top 5 teams which has the highest Winning percentage

In [121]:
data.GamesWon=data.GamesWon.astype('int')
data.GamesPlayed=data.GamesPlayed.astype('int')
data['Winning percentage']=(data['GamesWon']/data['GamesPlayed']*100)
data['Winning percentage']=data['Winning percentage'].fillna(0)
data.sort_values('Winning percentage',ascending=False)
data.head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,PlayedYear,Goal difference,Winning percentage
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,3,4,79,1929,1929,1,1929,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,4,6,83,1929,1929,1,1929,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,9,7,6,56,1929,2002-03,1,2002,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,11,10,7,50,1931-32,1987-88,1,1987,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,5,8,10,49,1929,1929,1,1929,931,43.772629

# 6. Group teams based on their Best position and print the sum of their points for all positions

Eg: Best Position                Points

        1                              25000

        2                              7000

In [123]:
data.groupby('BestPosition').sum()

,Pos,Seasons,Points,GamesPlayed,GamesWon,GoalsFor,GoalsAgainst,PlayedYear,Goal difference,Winning percentage
BestPosition,,,,,,,,,,
1,50,659,27933,21532,9888,36529,28015,17816,8514,403.189019
2,79,195,6904,6614,2255,8518,9902,10066,-1384,173.835110
3,89,154,5221,4936,1732,6660,7519,7940,-859,137.110098
4,125,191,6563,6497,2097,7877,9709,12026,-1832,190.611137
5,115,63,1884,2082,624,2370,3246,8047,-876,119.694898
6,158,62,2113,2052,624,2380,3229,9993,-849,151.787752
7,190,38,1186,1335,382,1379,1996,9973,-617,143.726616
8,154,31,1134,1120,319,1303,1881,7967,-578,116.395766
9,107,4,96,114,26,101,139,4009,-38,22.807018
10,186,13,450,450,134,554,776,7941,-222,115.979532
11,28,18,445,586,145,607,992,2007,-385,24.744027
12,74,18,511,652,163,609,972,3984,-363,52.135854
14,51,3,71,90,29,121,183,1957,-62,32.222222
15,60,1,14,30,5,34,65,1955,-31,16.666667
16,172,4,81,128,27,158,324,5900,-166,65.784314
17,147,7,266,270,65,253,425,6022,-172,70.394737
19,49,2,81,80,19,70,115,1997,-45,23.750000
20,57,1,34,38,8,38,66,2009,-28,21.052632